<mat-accordion multi="true" *ngIf="(posts | async)?.length > 0">
  <mat-expansion-panel *ngFor="let post of posts | async">
    <mat-expansion-panel-header>
    {{'LOCATION' | translate}} - {{ post.location }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.location">
    </div>
    <p>{{ 'DESCRIPTION' | translate }} - {{ post.description }}</p>
    <mat-action-row>
        <p>
         {{ 'DATE_TAKEN' | translate}}:  {{post.dateTaken | date}}
        </p>
      <a mat-button color="primary" style="padding-top:5px;" [routerLink]="['/view', post.id]">{{ post.comments.length }} {{'COMMENT' | translate}} </a>
    </mat-action-row>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">{{ 'EDIT' | translate }}</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">{{  'DELETE' | translate }}</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="(posts | async)?.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="(posts | async)?.length <= 0">{{ 'NO_POSTS' | translate }}</p>
